* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
      font-family: 'Poppins', sans-serif;
}

nav {
    background-color: #fff;
    color: #130341;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 750;
    color: #130341;
}

.nav-links {
    display: flex;
    gap: 4rem;
    list-style: none;
    font-size: 18px;
}

.nav-links li a {
    text-decoration: none;
    color: #031c47;
}

.nav-links li a:hover {
    color: #002ab3;
}

.nav-actions {
    display: flex;
    gap: 1rem;
}

.nav-actions button {
    background-color: #130341;
    color: #fff;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
}

.nav-actions button:hover {
    background-color: #ffffff;
    color: #130341;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
    display: none;
}

.menu-toggle {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #111;
    padding: 1rem 2rem;
}

.mobile-menu a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0;
}

.mobile-menu a:hover {
    color: #00ff88;
    }
}

@media (min-width: 769px) {
    .menu-toggle, .mobile-menu {
        display: none;
    }
}